.list_header {
    display: flex;
    justify-content: center;
}

.btn_wrap {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 80%;
    gap: 3%;
}

.btn_create {

}

.btn_logout {

}

.member_list {
    width: inherit;
    position: absolute;
    top:10%;
    z-index: 2;
}