.chat {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.chat_content {
    display: flex;
    flex-grow: 8;
}

.input {
    display: flex;
    height: 20px;
    flex-direction: row;
}

.input_form {
    display: flex;
    flex-grow: 1;
}

.input_text {
    flex-grow: 8;
}
