.list_fragment {
    display: flex;
    height: 50px;
    gap: 20px;
}

.user_img {
    display: flex;
}

.wrap .user_chat {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    width: 100%;
}

.wrap .user_name {

}